.main{
    width: 100%;
    height: 100%;
    position: relative;
}

.titleBox{
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.titleBox > div{
    width: 100px;
    margin-left: 30px;
    border: 1px solid #ccc;
    border-bottom: none;
    font-size: 16px;
    color: #555;
    text-align: center;
    padding: 3px;
    border-radius: 5px 5px 0 0;
}

.imgBox{
    float: left;
    position: relative;
}

.imgBox > div{
    margin: 0 10px;
    padding: 10px 0 25px;
    margin-bottom: 20px;
}


.pl{
    float: left;
}



label{
    float: left;
    padding: 9px 15px;
}

.stext{
    position: absolute;
    bottom: 0;
    display: block;
    width: 500px;
    color: #999;
    text-align: left;
}

.layui-form-select{
    float: left;
    width: 200px;
    margin: 0 10px;
}
.form > div{
    margin: 20px 0;
    position: relative;
}
.form{
    padding: 0 10px;
}

.warn{
    position: absolute;
    margin: 0!important;
    height: 37px;
    line-height: 37px;
    color: red;
}

.goodsImg{
    margin: 15px 0;
    overflow: hidden;
}

.basicBox{
    color: #555;
    padding-top: 20px;
    font-size: 15px;
    font-weight: bold;
    margin-left: -20px!important;
}

.unitBox{
    width: calc(100% - 106px);
    margin-left: 106px;
    padding: 10px;
    border: 1px solid #ccc;
}

.addBtn{
    padding: 10px;
    background-color: #eee;
}
.unitname{
    background-color: #eee;
    padding: 5px;
}

.unitdata{
    padding: 5px;
}

.inBox{
    width: 120px!important;
    display: inline-block!important;
    margin: 5px;
}

.setUnitBox{
    padding-left: 86px;
    line-height: 48px;
}

.remove{
    display: none;
    position: absolute;
    top: 25px;
    right: 5px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    width: 18px;
    height: 18px;
    font-size: 14px;
    line-height: 16px;
    background: hsla(0,0%,60%,.6);
    border-radius: 10px;
    text-indent: 0;
}

.addunBox{
    display:inline-block;
    position: relative;
}

.labelText{
    height: 30px;
    line-height: 30px;
}

.reinput{
    top: 5px;
    left: 168px;
}

.addUdata{
    color:#38f;
    display:none;
}

.udText{
    padding: 9px 15px;
    display: inline-block;
    margin-left: 15px;
    text-align: center;
    
}

.undetail{
    padding: 10px 10px 5px;
    margin-left: 106px;
}

.table-sku-stock {
    width: 100%;
    background-color: #fff;
    text-align: left;
    font-size: 12px;
    border: 1px solid #e5e5e5;
}

.table-sku-stock tbody {
    border-top: 1px solid #e5e5e5;
    border-bottom: none;
}

.table-sku-stock td {
    padding: 8px;
}

.table-sku-stock td:first-of-type {
    border-left: none;
}

.table-sku-stock th {
    padding: 10px 8px;
    font-weight: 400;
}

.table-sku-stock > tbody > tr{
    border-top: 1px solid #e5e5e5;
}

.table-sku-stock td:last-of-type {
    border-right: none;
}

.zent-input{
    width: 80px;
    display: inline-block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
    min-width: 80px;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0;
    border: 1px solid #bbb;
    color: #333;
    font-size: 12px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.UD{
    display: none;
}

.zent-form__required {
    margin-right: 6px;
    font-size: 16px;
    color: #e33;
    vertical-align: middle;
}

.addUdata:hover{
    color: #38f;
}

.cBody{
    position:relative;
    overflow:hidden;
    background-color: #eee;
    margin: 5px 0;
}

.sendPrice{
    height: 37px;
    line-height: 37px;
    border-radius: 2px;
}

.sendPrice > span{
    border: 1px solid rgb(161, 161, 161);
    color: #555;
    padding: 3px;
}

.divBox2{
    float: left;
}

.layui-form-radio > div{
    color: #555;
}

.divBox1{
    overflow: hidden;
}

#toppic{
    position: absolute;
    border-style: solid;
    border-width: 40px 50px 0px 0;
    border-color: rgb(230, 20, 55)transparent transparent transparent;
    width: 0px;
    height: 0px;
}

#toptext{
    position: absolute;
    color: #fff;
    font-weight: bold;
    padding: 3px 6px;
}

.imgBox > .pl{
    width: 187px;
    height: 100px;
    position: relative;
}

.imgBox > div > img{
    width: 100%;
    height: 100%;
}





.uploadImgBtn {

    width: 100px;
    height: 100px;
    cursor: pointer;
    position: absolute;
    -webkit-background-size: cover;
    background-size: cover;
}

.uploadImgBtn .uploadImg {
    position: absolute;
    right: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.delimg{
    position: absolute;
    top: 0px;
    right: -8px;
    background-color: #ccc;
    color: #fff;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    display: none;
    cursor: pointer;
}

