.main{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.form{
    padding: 0 30px;
}
 
.selfnav {
    background-color: #eee!important;
    color: #555!important;
}

.parentBox{
    position: relative;
    width: 100%;
    border: 1px solid #eee;
    background-color: #f2f2f2;
    overflow: hidden;
    cursor: pointer;
}

.listdd > dd{
    width: 100%;
    border: 1px solid #eee;
    border-top: 0px;
    margin-left: 4%!important;
    overflow: hidden;
    cursor: pointer;
}

.listdd > dd > div:first-child{
    width: 16%;
}

.parentBox  > div , .listdd > dd > div{
    width: 20%;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    text-align: center;
    float: left;
}

.listdd > dd > div{
    height: 40px;
    line-height: 40px;
}

.parentBox  > div > img{
    padding: 10px 0;
}



.parentBox  > div > img , .listdd > dd > div > img{
    width: 40px;
    height: 40px;
}

.layui-none{
    display: none;
}

.fuhao{
    position: absolute;
    top: 21px;
    left: 10px;
    width: 20px!important;
    height: 20px!important;
    line-height: 21px!important;
    overflow: hidden;
    color: #888;
}