.main{
    width: 100%;
    height: 100%;
    position: relative;
}

.pBox{
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 10px 0;
    padding: 10px;
    overflow: hidden;
    width: 80%;
}

.pBox > div:first-child{
    float: left;
    height: 30px;
    line-height: 30px;
}

.pBox > div:last-child{
    float: right;
}