.main{
    width: 100%;
    height: 100%;
    position: relative;
}

.bigbox{
    padding: 30px!important;
}
.form{
    overflow: hidden;
}
.form > input{
    width: 20%;
    display: inline-block;
}

.layui-table-cell {
    height: 50px!important;
    line-height: 50px!important;
}

.acBtn{
    margin-top: 14px;
}